@{
    ViewData["Title"] = "Forgot Password";
    ViewData["Header"] = "Forgot Password";
    ViewData["Action"] = "ForgotPassword";

    Layout = "_AuthLayout";
}


<div>
    <label for="email">Email</label>
    <input id="email" name="email" placeholder="Write email" />
    <span asp-validation-summary="All" style="color: red;"></span>
</div>

<button>Send</button>
